@import '@/app/variables.scss';
.badge {
  min-width: 48px;
  padding: 4px 8px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: $badge-primary;
  color: $badge-active;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: $badge-hover;
  }

  &:active {
    background-color: $badge-active;
    color: white;
  }
}
