$badge-primary: hsl(230 86 97);
$badge-hover: hsl(230 100 91);
$badge-active: hsl(230 76 59);

$purple: hsl(282 83 52);
$blue-primary: hsl(230 76 59);
$blue-secondary: hsl(231 33 34);
$blue-secondary-100: hsl(231 100 97);
$blue-secondary-500: hsl(230 31 31);
$white: hsl(0 0 100);
$background: hsl(230 60 98);
$blue-gray: hsl(224 20 49);
$orange: hsl(14 83 74);
$sky-blue: hsl(204 94 68);

$purple-hover: hsl(282 90 66);
