@import '@/app/variables.scss';

.main {
  width: 100%;
  min-height: 100vh;
  background-color: $background;

  .container {
    max-width: 730px;
    margin: auto;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .buttons_container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .feedback_container {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .card_container {
        background-color: $white;
        padding: 16px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .wrapper {
          display: flex;
          flex-direction: column;
          gap: 2px;

          .title {
            color: $blue-secondary;
            font-size: 18px;
            font-weight: 700;
          }

          .description {
            color: $blue-gray;
            font-size: 16px;
            font-weight: 400;
          }
        }

        .comments_icon {
          color: $blue-secondary;
          font-size: 16px;
          font-weight: 700;
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }

      .comments_container {
        background-color: $white;
        padding: 16px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        .num_comments {
          color: $blue-secondary;
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
}
