@import '@/app/variables.scss';

.btn {
  background-color: $purple;
  color: white;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: $purple-hover;
  }
}
